

body{
    background-color: #b9b6e0;
}


h1{
    text-align: center;
    color: #34495e;
}

.topnav {
  text-align: center;
  background-color: #34495e;
  overflow: hidden;
  /* float: left; */
  }

.topnav a {
    color: white;
    padding: 30px;
}

.topnav a:hover {
    background-color: black;
  }

.active {
    background-color: #04aa6d;
  }

p{
    text-align: center;
}

